/* main */
.C_AboutCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20rem;
  grid-row-gap: 20rem;
}
.C_ArticleTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.C_ArticleTags.black span {
  color: var(--main-black-color);
}






/* для статей */
.C_TitleArticle1 {
  background-color: var(--main-orange-color);
  border-radius: 32rem;          
  padding: 48rem 56rem 56rem;   
  position: relative;
}


.C_UsefulBlock1 {
  background: var(--main-orange-color);
  border-radius: 16rem;
  padding: 32rem 36rem;
  margin: 10rem 0;
}


