/* main */
.C_AboutCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20rem;
  grid-row-gap: 20rem;
}
.C_ArticleTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.C_ArticleTags.black span {
  color: var(--main-black-color);
}






.C_TitleArticle1 {
  background-color: var(--main-orange-color);
  border-radius: 2rem;  
  padding: 3rem 3.5rem 3.5rem;  
  position: relative;
}


.C_UsefulBlock1 {

  background: var(--main-orange-color);
  border-radius: 1rem;
  padding: 2rem 2.25rem;
  margin: 2rem 0;
}

.C_UsefulBlock1 p {
  color: var(--text-main-color);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

