@media screen and (max-width: 600px) {
  html {
    font-size: calc(1vw / 3.93);
  }
  #indexWrapper {
    width: calc(100% - 32rem);
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 50rem;
  }

  .indexContainer {
    display: flex;
    flex-direction: column;
    gap: 62rem;
  }

  .indexContainerInfoTags {
    display: none;
  }

  .indexContainerInfo,
  .indexContainerBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
    width: 361rem;
  }
  .indexContainerBottom {
    height: 255rem;
  }

  .indexContainerInfoText h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 40rem;
    text-align: left;
    line-height: 44rem;
    margin-bottom: 8rem;
  }

  .indexContainerBottomText h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 32rem;
    text-align: left;
    line-height: 36rem;
    margin-bottom: 8rem;
  }
  .indexContainerInfoText h2,
  .indexContainerBottomText h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 16rem;
    text-align: left;
    line-height: 19.8rem;
  }

  #index form input {
    height: 40rem;
    border-radius: 30rem;
    background-color: #fefefe;
    border: solid 1rem #dadae2;
    padding: 0 20rem;
  }
  .my-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 361rem;
    gap: 10rem;
  }
  #my-form-button {
    height: 40rem;
    border-radius: 30rem;
    background-color: #f48e28;
    border: solid;
    color: #fefefe;
    cursor: pointer;
  }
  .indexContainer > div,
  .indexContainerBottom > div,
  .footer > div {
    width: 100%;
  }

  .indexContainerDescription {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 826rem;
    justify-content: left;
    gap: 20rem;
  }

  .indexContainerDescriptionText {
    font-weight: 400;
    font-style: normal;
    width: 361rem;
    font-size: 24rem;
    text-align: left;
    line-height: 29rem;
  }
  .indexContainerDescriptionCards {
    display: flex;
    flex-direction: column;
    width: 361rem;
    gap: 20rem;
  }
  .Card {
    display: flex;
    flex-direction: column;
    gap: 32rem;
    height: 236rem;
    width: 361rem;
    padding-left: 16rem;
    padding-bottom: 16rem;
    padding-top: 16rem;
  }
  .Card h1 {
    font-weight: 400;
    font-size: 56rem;
    line-height: 64rem;
  }
  .CardText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 108rem;
  }
  .CardText h3 {
    font-size: 14rem;
    line-height: 16rem;
  }
  .indexContainerAbout {
    justify-content: left;
    height: 1480rem;
  }
  .indexContainerAboutCards {
    flex-direction: column;
  }
  .Card.first {
    display: flex;
    flex-direction: column;
    gap: 45rem;
    height: 350rem;
    width: 361rem;
    justify-content: center;
    padding-left: 16rem;
    border-radius: 30rem;
    padding-bottom: 16rem;
  }
  .CardText.first {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16rem;
    height: 172rem;
  }
  .CardWrapper {
    display: flex;
    flex-direction: column;
    width: 361rem;
    gap: 20rem;
  }
  .CardText.first h2 {
    font-size: 40rem;
    line-height: 46rem;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 361rem;
    align-items: center;
  }
  .headertg {
    width: 32rem;
    margin-left: 0rem;
  }
  .headerlogo {
    width: 109rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    width: 361rem;
    justify-content: space-between;
    margin-bottom: 50rem;
    gap: 50rem;
  }
  .footer p {
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 14rem;
    line-height: 20rem;
  }
  .footer h1 {
    text-align: left;
    font-weight: 500;
    font-style: normal;
    font-size: 22rem;
    line-height: 28.8rem;
    color: #f48e28;
  }
  .footercolumn {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  .telegramfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
  }
  .footertg {
    width: 24rem;
  }

  .M_RecipesCards {
    width: 47%;
  }
  .M_RecipesCards.big {
    background-position: 100% 110%;
    background-size: 80%;
    width: 100%;
  }

  .M_RecipesCards:nth-of-type(n + 1):nth-of-type(-n + 8),
  .M_RecipesCards:nth-of-type(10) {
    order: 1;
  }
  .M_RecipesCards:nth-of-type(9) {
    order: 2;
  }
  .M_RecipesCards:nth-of-type(n + 11):nth-of-type(-n + 14) {
    order: 3;
  }
  .M_RecipesCards:nth-of-type(16) {
    order: 4;
  }
  .M_RecipesCards:nth-of-type(15) {
    order: 3;
  }
  .M_RecipesCards:nth-of-type(17),
  .M_RecipesCards:nth-of-type(18),
  .M_RecipesCards:nth-of-type(20) {
    order: 5;
  }
  .M_RecipesCards:nth-of-type(19) {
    order: 6;
  }

  #burger {
    width: 40rem;
    height: 40rem;
    margin-right: 10rem;
    margin-left: 320rem;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    background-color: var(--main-orange-color);
    border-radius: 100rem;
  }
  #burger::before,
  #burger::after {
    content: '';
    position: absolute;
    margin-top: 18rem;
    left: 12rem;
    width: 16rem;
    height: 2rem;
    background-color: white;
    border-radius: 10rem;
    transition: transform ease 0.8s;
  }
  #burger::after {
    margin-top: 14rem;
  }
  #burger::before {
    box-shadow: 0 4rem white;
  }
  #burger.active::before {
    box-shadow: 0 0rem white;
    margin-top: 20rem;
    transform: rotate(45deg);
  }
  #burger.active::after {
    margin-top: 20rem;
    transform: rotate(-45deg);
  }
  .O_Header {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--main-green-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem;
    gap: 50rem;
    padding-left: 20rem;
    transform: translateX(-100%);
  }

  .M_MenuList {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    align-items: flex-start;
  }

  .M_Logo {
    margin-top: 10rem;
    height: 45rem;
  }
  .Q_NavigationTelegram {
    display: none;
  }
  #burger.active + .O_Header {
    transform: translateX(0);
  }

  /* для рецепта */

  .S_HeaderRecipe {
    flex-direction: column;
    order: 0;
    align-items: center;
    gap: 20rem;
    margin-top: 304rem;
  }

  .A_RecepieImgMain {
    width: 280rem;
    height: 280rem;
    order: 1;
    margin-top: -100rem;
    border-radius: 20rem;
    box-shadow: none;
  }
  .A_TitleHeroRecipe {
    margin-bottom: -30rem;
  }

  .O_InfoRecipesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .S_HeaderRecipe .A_TitleHeroRecipe {
    font-size: 32rem;
    text-align: left;
    margin-left: 20rem;
    margin-top: -320rem;
  }

  .back-button__label {
    display: none;
  }


  .M_InfoRecipes {
    margin-left: 20rem;
    margin-right: 10rem;
    margin-bottom: 20rem;
    flex-wrap: nowrap;         
    justify-content: flex-start;
  }


  .M_Calories:has(.A_TitleSectionRecipe1) {
   display: none;
  }

 
  .A_TagRecipes {
    font-size: 15rem;
    padding: 10rem 24rem;
  }



  .S_Ingredients2 {
    flex-direction: column;
    padding: 30rem 25rem;
    min-height: auto;
    margin-bottom: 30rem;
    margin-top: -20rem;
  }

  .A_SubtitleIngredients, .A_SubtitleRecipe {
    font-size: 20rem;
  }

  
  .A_IngredientsImg {
    display: none;
  }

  .O_CookingBlock {
    flex-direction: column;
    gap: 20rem;
  }
  .A_TitleSectionRecipe {
    font-size: 20rem;
    font-weight: 600;
    justify-content: left;
    text-align: left;
  }

  .A_SubtitleRecipeInfo {
    font-size: 14rem;
    text-align: left;
  }

  .A_StepsImg {
    width: 100%;
    height: 220rem;
  }

  .M_CookingBlock {
    padding-top: 0;
  }

  .M_Calories{
    justify-content: left;
    flex: 1;             
    min-width: 0;   
  }

  .S_Steps {
    margin-bottom: 30rem;
  }

  .back-button {
    margin: 20rem 24rem;
  }

  /* для страницы статьи */
  .back-button {
    position: static;
    top: auto;
    left: auto;
    margin: 20rem 0 20rem 15rem;
    align-self: flex-start;
  }

  .S_HeaderArticleScreen1 {
    padding: 0 20rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .S_ArticleContent {           
    margin-bottom: -110rem;
  }


  .C_TitleArticle1 {
    padding: 32rem 28rem 40rem;
    border-radius: 24rem;
  }

  .A_TitleHero {
    font-size: 40rem;
  }

  .A_TitleHeroArticle{
    font-size: 42rem;
  }


  .A_SubtitleArticle {
    font-size: 15rem;
  }

  .S_ArticleContent {
    padding: 32rem 24rem 60rem;
    max-width: 100%;
  }
  .A_SubtitleArticle + .A_SubtitleArticle {
  margin-top: 20rem;
  }


  .A_TitleSection {
    font-size: 24rem;
  }

  .A_ContentText {
    font-size: 15rem;
  }

  .A_ArticleImg {
    margin: 24rem 0;
    max-height: none;
    border-radius: 12rem;
  }

  .C_UsefulBlock1 {
    height: 250rem;
    padding: 0rem 20rem;
    margin: 24rem 0;
    border-radius: 12rem;
  }
  .S_RecipesMainScreen,
  .S_ArticlesMainScreen,
  .S_GuidesMainScreen,
  .S_TestsMainScreen {
    padding: 0rem 20rem;
  }
  .M_RecipesCards {
    height: 242rem;
  }
  h4 {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16rem;
    line-height: 120%;
  }
  .S_MainScreen {
    padding: 300rem 20rem 40rem 20rem;
    gap: 24rem;
  }
  .button_hero {
    width: 100%;
    padding: 10rem 16rem;
  }
  .S_HeaderMainScreen {
    background-color: var(--main-green-color);
    background-image: url(/src/img/Adaptive/Main.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 120%;
  }

  .S_HeaderArticlesScreen {
    background-image: url(/src/img/Adaptive/Thumbnail/Articles.svg);
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: 100%;
  }

  .S_AboutMainScreen {
    padding: 40rem 20rem;
  }
  .A_TitleSection_About {
    display: none;
  }
  .C_AboutCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 8rem;
    grid-auto-rows: 145rem;
  }
  .O_AboutCardWide {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--main-pink-color);
    background-image: url(../img/Adaptive/AboutCards/Group\ 95.svg);
    background-size: cover;
    background-position: 12% 0%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 50%;
    border-radius: 40rem;
    width: 100%;
  }

  .O_AboutCardSmall {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40rem;
    padding: 24rem;
  }
  .card-purple {
    grid-area: 3 / 1 / 4 / 2;
  }
  .W_Text_CardSmall {
    align-items: flex-start;
    margin-left: 8rem;
  }
  .A_Subtitle__CardSmall {
    text-align: left;
  }
  .card-green {
    grid-area: 4 / 1 / 5 / 2;
  }
  .O_AboutCardSmall img {
    width: 100rem;
    height: 80rem;
  }
  .card-orange {
    grid-area: 5 / 1 / 6 / 2;
  }

  .A_TitleSection_CardWide {
    margin: 80rem 0 0 24rem;
    line-height: 100%;
    width: 314rem;
  }
  h3 {
    font-size: 32rem;
  }
  .A_Subtitle__CardWide {
    margin-left: 24rem;
    width: 314rem;
  }

  p {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 16rem;
    line-height: 120%;
    color: var(--text-main-color);
  }
  .S_RecipesMainScreen {
    margin-top: 40rem;
  }
  .A_Button_Primary {
    display: none;
  }
  .A_Button_Primary.button_hero,
  .A_Button_Primary.footer {
    display: inline-block;
    width: 100%;
    padding: 10rem 16rem;
  }
  .M_TitleLink {
    margin-bottom: 20rem;
  }
  .O_RecipesCardsM {
    margin-top: 20rem;
  }
  .O_TestBlock {
    margin: 20rem;
    display: flex;
    justify-content: space-between;
    padding: 24rem;
    border-radius: 40rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .O_TestBlock img,
  .O_ContactBlock img {
    width: 300rem;
  }
  .W_Text_Test {
    gap: 8rem;
  }
  .O_ContactBlock {
    margin-top: 40rem;
    display: flex;
    justify-content: space-between;
    padding: 40rem 20rem;
    flex-direction: column;
  }
  .A_Fruits_MainScreen_PatternTomato {
    display: none;
  }
  .A_Form_Input {
    display: flex;
    gap: 12rem;
    flex-direction: column;
    align-items: flex-start;
  }
  input {
    width: 100%;
    height: auto;
    background-color: #fefefe;
    border: 1rem solid #dadae2;
    border-radius: 100rem;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14rem;
    line-height: 100%;
    color: #000;
    padding: 9.5rem 16rem;
    display: flex;
    align-items: center;
  }
  .S_FooterMain {
    padding: 0rem 20rem;
  }
  .menu.footer {
    display: none;
  }
  .O_Footer {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-bottom: 50rem;
  }
  .M_ArticleCard {
    height: 273rem;
  }
  .M_ArticleCard img {
    height: 273rem;
  }
  .S_HeaderRecepiesScreen {
    background-color: var(--main-light-green-color);
    background-image: url(../img/Adaptive/Thumbnail/Recipes.svg);
    background-repeat: no-repeat;
    background-position: 50% -100%;
    background-size: 100%;
  }

  .A_NavigationLogo.mobile {
    display: flex;
    z-index: 2;
  }
  header {
    margin-top: 20rem;
    padding-left: 20rem;
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    align-items: center;
  }
  .M_ArticleCard {
    background-size: 180%;
  }
  .A_TagRecipes {
    font-size: 8rem;
    padding: 4rem 12rem;
  }
  .input-wrapper input {
    padding-left: 35px;
    height: 40px;
    width: 354rem;
  }
  .O_RecipesBlock {
    display: flex;
    padding: 40rem 20rem 40rem 20rem;
    flex-direction: column;
  }
  .W_TagsSearchWrap {
    display: flex;
    flex-direction: column;
  }
  .W_TagTitleWrap {
    display: flex;
    gap: 20rem;
    flex-direction: column;
  }
  
}
