/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/f82344daaacb5424b169.woff),
    url(fonts/f31c5219b0912845f393.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/e24244df074291681cd3.woff),
    url(fonts/6f2ccf4ac327e1d6507e.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/ea7178e3e5d27a1d3248.woff),
    url(fonts/b43dba986b9cde356afd.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/8bf08d3a5b04f523d0d4.woff),
    url(fonts/f0497492db8214d4938e.woff2);
  font-weight: 300;
}

body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
}
h4 {
  font-weight: 300;
} */




@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/358a4629d0320437d22e.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/a6767dc546b61fb075f2.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/c1e5c21a326905f47434.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/995358969571c1c37362.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Опционально — курсивные стили */
@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/f8eadd5cc5bdd24a63bc.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url(fonts/cb07e3c467987cb3fbb3.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
html {
  font-size: calc(1vw / 19.2);
}

h1 {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 140rem;
  line-height: 100%;
  color: var(--text-main-color);
}
p {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 24rem;
  line-height: 140%;
  color: var(--text-main-color);
}
h2 {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 64rem;
  line-height: 100%;
  color: var(--text-main-color);
}
h4 {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 32rem;
  line-height: 120%;
  color: var(--text-main-color);
}
h3 {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 48rem;
  line-height: 120%;
  color: var(--text-main-color);
}
h5 {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 36rem;
  line-height: auto;
  color: #fefefe;
}
a,
label {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 20rem;
  line-height: 120%;
  color: var(--text-main-color);
  text-decoration: none;
}
a:hover {
  color: #ed7d41;
}
span {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16rem;
  line-height: 16rem;
  color: var(--text-main-color);
  text-decoration: none;
}
header {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  width: 100vw;
}

main {
  position: relative;
}

.recepies,
.recepies path {
  color: var(--main-light-green-color);
  fill: var(--main-light-green-color);
}

.articles,
.articles path {
  color: var(--main-purple-color);
  fill: var(--main-purple-color);
}
.tests,
.tests path {
  color: var(--main-pink-color);
  fill: var(--main-pink-color);
}

.blackhover:hover,
.blackhover svg:hover path {
  color: var(--main-black-color);
  fill: var(--main-black-color);
}

.menu_list {
  display: flex;
  flex-direction: row;
  gap: 48rem;
}
.O_Header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20rem 0;
}
section {
  width: 100vw;
}
img {
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
:root {
  --text-main-color: #ffffff;
  --btn-basic-color: #f69967;
  --btn-hover-color: #ed7d41;
  --main-green-color: #2b6243;
  --secondary-green-color: #4f976e;
  --main-light-green-color: #a3bd5b;
  --main-orange-color: #ed7d41;
  --main-purple-color: #969ada;
  --main-pink-color: #ea86d1;
  --main-black-color: #3a3a3a;
  --card-gray-color: #f3f3f6;
  --secondary-light-blue-color: #e8e9ff;
  --secondary-light-green-color: #dde7c1;
  --secondary-light-pink-color: #ffdef7;
}


/* main */
.Q_LogoMove_Banana,
.Q_LogoMove_Strawberry,
.Q_LogoMove_Strawberry1 {
  width: 80rem;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.Q_LogoMove_Banana {
  left: -15rem;
}
.Q_LogoMove_Strawberry {
  top: 25rem;
}
.Q_LogoMove_Strawberry1 {
  left: 50rem;
}
.Q_LogoMove_Kiwi {
  left: 85rem;
  top: 10rem;
}
.Q_LogoMove_Tomato,
.Q_LogoMove_Peach,
.Q_LogoMove_Kiwi,
.Q_LogoMove_Strawberry1 {
  width: 60rem;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.Q_LogoMove_Banana.animation {
  animation: banana 0.4s ease-in-out 1 forwards;
}

@keyframes banana {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-80rem, 0rem) rotate(56deg);
    opacity: 0;
  }
}

.Q_LogoMove_Tomato.animation {
  animation: tomato 0.4s ease-in-out 1 forwards;
}

@keyframes tomato {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-20rem, -40rem) rotate(180deg);
    opacity: 0;
  }
}
.Q_LogoMove_Kiwi.animation {
  animation: kiwi 0.4s ease-in-out 1 forwards;
}

@keyframes kiwi {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    transform: translate(60rem, 40rem) rotate(140deg);
    opacity: 0;
  }
}

.Q_LogoMove_Strawberry.animation {
  animation: strawberry 0.4s ease-in-out 1 forwards;
}

@keyframes strawberry {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    transform: translate(0rem, 40rem) rotate(-40deg);
    opacity: 0;
  }
}
.Q_LogoMove_Strawberry1.animation {
  animation: strawberry1 0.4s ease-in-out 1 forwards;
}

@keyframes strawberry1 {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }
  100% {
    transform: translate(70rem, -40rem) rotate(-80deg);
    opacity: 0;
  }
}

.Q_NavigationTelegram path {
  display: block;
  width: 8%;
  fill: var(--btn-basic-color);
}



.Q_NavigationTelegram.white path{
    fill: var(--text-main-color);
}


.Q_Recepie_Img {
  width: 330rem;
}

/* main */
.A_NavigationLogo path {
  display: block;
  width: 8%;
  fill: white;
}
.A_NavigationLogo {
  z-index: 1000;
}
.A_NavigationLogo svg:hover path {
  fill: white;
}
.A_MenuLink.active {
  color: var(--menu-hover-color);
}
.A_Button_Primary {
  background-color: var(--btn-basic-color);
  border-radius: 100rem;
  border: none;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 20rem;
  line-height: 100%;
  color: var(--text-main-color);
  padding: 20rem 107rem;
  cursor: pointer;
  display: inline-block;
}
.button_hero {
  width: 400rem;
}
.A_Button_Primary:hover {
  background-color: var(--btn-hover-color);
}
.A_TitleSection_About {
  text-align: center;
}
.A_TitleSection_CardWide {
  margin: 112rem 0 20rem 160rem;
  width: 555rem;
  line-height: 100%;
}
.A_Subtitle__CardWide {
  margin-left: 160rem;
  width: 632rem;
}

.A_Subtitle__CardSmall {
  text-align: center;
}
.A_TitleSection_Black {
  color: var(--main-black-color);
}
.A_Form_Input {
  display: flex;
  gap: 12rem;
}
input {
  width: 421rem;
  height: auto;

  background-color: #fefefe;
  border: 1rem solid #dadae2;
  border-radius: 100rem;

  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16rem;
  line-height: 100%;
  color: #000; /* можно поменять */

  padding: 20rem 24rem; /* слева 24rem, вертикаль как у кнопки */

  display: flex;
  align-items: center; /* вертикальное выравнивание текста */
}

.A_DescriptionCard {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 20rem;
  line-height: 120%;
  color: var(--text-main-color);
}

.A_Arrow {
  background-image: url(img/A_IconExtra.svg);
  width: 40rem;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.A_NavigationLogo.article path {
  display: block;
  width: 8%;
  fill: var(--main-black-color);
}

.A_NavigationLogo.article svg:hover path {
  display: block;
  width: 8%;
  fill: var(--main-orange-color);
}
.A_TagRecipes {
  background-color: #fefefe;
  padding: 16rem 24rem;
  border-radius: 30rem;
}
.A_TagRecipes.breakfast.active,
.A_TagRecipes.lunch.active,
.A_TagRecipes.dinner.active {
  background-color: var(--main-pink-color);
  color: #fefefe;
}

.A_TagRecipes.meat.active,
.A_TagRecipes.fish.active,
.A_TagRecipes.bird.active {
  background-color: var(--main-purple-color);
  color: #fefefe;
}

.A_TagRecipes.vegetables.active,
.A_TagRecipes.fruits.active {
  background-color: var(--main-light-green-color);
  color: #fefefe;
}

.A_TagRecipes.all.active {
  background-color: var(--main-green-color);
  color: #fefefe;
}

/* Для статей */
.A_TagArticles {
  display: inline-block;
  background-color: var(--main-light-green-color);
  color: var(--text-main-color);
  font-size: 14rem;
  font-weight: 500;
  padding: 8rem 20rem;
  border-radius: 50rem;
  margin-bottom: 32rem;
}


.A_TitleHeroArticle {
  font-size: 72rem;       
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 32rem;
  letter-spacing: -0.5rem;
}


.A_SubtitleArticleHero {
  font-size: 17rem;        
  color: var(--text-main-color);
  line-height: 1.6;
  max-width: 560rem;
}

.A_SubtitleArticle {
  font-size: 17rem;        
  line-height: 1.6;
  max-width: 560rem;
  color: var(--main-black-color);
}

.A_SubtitleArticle + .A_SubtitleArticle {
  margin-top: 40rem;
}

.A_SubtitleArticleBox {
  color: var(--text-main-color);
  font-size: 17rem;        
  line-height: 1.6;
  max-width: 560rem;
}


.A_TitleSectionArticle {
  font-size: 32rem;          
  font-weight: 700;
  color: var(--main-black-color);
  margin-top: 48rem;
  margin-bottom: 16rem;
  line-height: 1.2;



}
.A_ArticleImg {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 464rem;
  margin: 32rem 0;
}

.A_ulArticle {
  list-style-type: disc; 
  padding-left: 24rem;
  font-size: 17rem; 
  color: var(--text-main-color);
  line-height: 1.6;
}
.A_olArticle {
  list-style-type: decimal;
  padding-left: 24rem;
  margin-bottom: 32rem;
  font-size: 17rem; 
  color: var(--main-black-color);
  line-height: 1.6;
}


/* кнопка "вернуться назад" */
.back-button {
  position: absolute;
  top: 20rem;         
  left: 80rem;    
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  z-index: 10;
}

.back-button__circle {
  width: 48rem;
  height: 48rem;
  border-radius: 50%;
  background-color: var(--main-orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  transform: translateX(4px);
}

.back-button__inner-circle {
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  background-color: var(--text-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button__arrow {
  width: 16rem;
  height: 16rem;
  color: var(--main-orange-color);
}

.back-button__label {
  background-color: var(--main-orange-color);
  color: var(--text-main-color);
  font-size: 16rem;
  font-weight: 400;
  padding: 12rem 32rem;
  border-radius: 70px;
  margin-left: 0;
  position: relative;
  z-index: 1;
  letter-spacing: 0.3px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Для рецептов */
.A_RecepieImgMain {
  width: 560rem;
  height: 560rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
  box-shadow: 0 8rem 30rem rgba(0, 0, 0, 0.1);
}

.A_TitleHeroRecipe {
  color: var(--main-black-color);
  font-size: 140rem; 
  font-weight: 500;
}

.A_SubtitleIng {
  color: var(--text-main-color);
  font-size: 24rem; 
  margin-bottom: 16rem;
}

.A_SubtitleRecipeInfo, .A_SubtitleRecipeInfo1 {
  max-width: 200rem;
  font-size: 20rem; 
  font-weight: 400;
  color: var(--main-black-color);
}

.A_SubtitleRecipe {
  font-size: 24rem; 
  font-weight: 400;
  color: var(--main-black-color);
}

.A_TitleSectionRecipe, .A_TitleSectionRecipe1{
  color: var(--main-black-color);
  font-size: 40rem; 
}

.A_TitleSectionRecipeSteps {
  color: var(--main-black-color);
  font-size: 40rem; 
  margin-bottom: 20rem;
}

.A_TitleSectionIng {
  font-size: 40rem; 
  margin-bottom: 32rem;
}

.A_IngredientsImg {
  width: 400rem;
  height: auto;
  position: absolute;
  right: 60rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.85;
  pointer-events: none;
}


.A_StepsImg {
  width: 555rem;
  height: 390rem;
  border-radius: 20rem;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}

.A_SubtitleIngredients {
  font-family: 'Ubuntu';
  font-size: 24rem; 
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 12rem;
  color: #A3A19C
}

.A_recepieLightGreen {
  font-size: 24rem; 
  color: #A6E4C1;  
  font-weight: 400;
  margin-left: 8rem;
}

.A_NavigationLogo.mobile {
  display: none;
}

/* main */
.M_MenuList {
  display: flex;
  flex-direction: row;
  gap: 48rem;
}
.M_Logo {
  position: relative;
}
.M_TitleLink {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48rem;
}
.M_RecipesCards {
  background-color: var(--card-gray-color);
  width: 540rem;
  border-radius: 40rem;
  padding: 20rem;
  height: 556rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.M_RecipesCards:hover {
  background-size: 80%;
  background-color: lightgrey;
}
.M_RecipesCards h4,
.M_RecipesCards span {
  color: var(--main-black-color);
}

.M_RecipesCards.big {
  width: 1100rem;
  background-position: 100% 100%;
  background-size: 65%;
}

.M_ArticleCard {
  border-radius: 40rem;
  padding: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 530rem;
}

.M_ArticleCard.s {
  width: 400rem;
}
.M_ArticleCard.m {
  width: 540rem;
}
.M_ArticleCard.l {
  width: 680rem;
}
.M_ArticleCard.xxl {
  width: 1240rem;
}

/* для рецептов */
.M_InfoRecipes {
  display: flex;
  gap: 24rem;
  max-width: 1000rem;
  flex-wrap: nowrap;
  margin-top: 48rem;
  margin-bottom: 48rem;
}

.M_Calories {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;         
  min-width: 0;         
}

.M_Calories1{
  width: 180rem;
}

.M_Ingredients {
  flex: 1;
  z-index: 1;
  position: relative;
}

.M_CookingBlock {
  flex: 1;
  padding-top: 10rem;
}

/* main */
.C_AboutCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20rem;
  grid-row-gap: 20rem;
}
.C_ArticleTags {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.C_ArticleTags.black span {
  color: var(--main-black-color);
}






/* для статей */
.C_TitleArticle1 {
  background-color: var(--main-orange-color);
  border-radius: 32rem;          
  padding: 48rem 56rem 56rem;   
  position: relative;
}


.C_UsefulBlock1 {
  background: var(--main-orange-color);
  height: 220rem;           
  padding: 0rem 40rem;
  background: var(--main-orange-color);
  border-radius: 16rem;
  margin: 10rem 0;   
  margin-bottom: 32rem;    
  margin-top: 20rem;   
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: flex-start;
}

.C_UsefulBlock1 p {
  margin-bottom: 20rem;
}



/* main */
.W_Text_CardSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.W_Text_Test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20rem;
}

.W_Test_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32rem;
}

.W_Test_Container button {
  width: 400rem;
}

.W_ArticleTop {
  display: flex;
  justify-content: space-between;
}

.W_ArticleText {
  display: flex;
  flex-direction: column;
  gap: 16rem;
}

.W_FooterWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.W_TagTitleWrap {
  display: flex;
  gap: 50rem;
}
.W_ArticleTop span {
  color: var(--main-black-color);
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input {
  padding-left: 35px; /* место под иконку */
  height: 40px;
}

.input-wrapper .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none;
}

/* main */
.O_AboutCardWide {
  grid-area: 1 / 1 / 2 / 4;
  background-color: var(--main-pink-color);
  background-image: url(img/AboutUsBigCard.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 530rem;
  border-radius: 40rem;
}
.card-purple {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--main-purple-color);
}
.card-green {
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--main-green-color);
}
.card-orange {
  grid-area: 2 / 3 / 3 / 4;
  background-color: var(--btn-basic-color);
}
.O_AboutCardSmall img {
  height: 260rem;
}
.card-orange img {
  height: 260rem;
}

.O_AboutCardSmall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40rem;
  padding: 40rem;
}

.O_TestBlock {
  margin: 130rem;
  display: flex;
  background-color: var(--main-green-color);
  justify-content: space-between;
  padding: 52rem 146rem;
  border-radius: 40rem;
}
.O_TestBlock img,
.O_ContactBlock img {
  width: 635rem;
}

.O_ContactBlock {
  margin-top: 130rem;
  display: flex;
  background-color: var(--main-green-color);
  justify-content: space-between;
  padding: 80rem 130rem;
}
.O_RecipesCardsMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20rem;
  grid-row-gap: 20rem;
}

.M_RecipesCards1 {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--card-gray-color);
  border-radius: 40rem;
}
.M_RecipesCards2 {
  grid-area: 1 / 2 / 3 / 3;
  background-color: var(--card-gray-color);
  border-radius: 40rem;
}
.M_RecipesCards3 {
  grid-area: 1 / 3 / 3 / 4;
  background-color: var(--card-gray-color);
  border-radius: 40rem;
}
.M_RecipesCards4 {
  grid-area: 3 / 1 / 5 / 2;
  background-color: var(--card-gray-color);
  border-radius: 40rem;
}
.M_RecipesCards5 {
  grid-area: 3 / 2 / 5 / 4;
  background-color: var(--card-gray-color);
  border-radius: 40rem;
}
.O_RecipesCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  justify-content: center;
}

.O_RecipesCardsM {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  justify-content: center;
  margin-top: 48rem;
}
.O_ArticleCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  justify-content: center;
}

.O_Footer {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.O_Header.article a {
  color: var(--main-black-color);
}

.O_Header.article a:hover {
  color: var(--main-orange-color);
}

.O_RecipesBlock {
  display: flex;
  width: 100%;
  padding: 100rem 130rem 80rem 130rem;
  justify-content: space-between;
}
.O_TestBlock.small1 {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  background-color: var(--main-pink-color);
  background-image: url(img/M_PreTestCards1.svg);
  background-position: 50%;
    background-size: contain;
  justify-content: flex-end;
  padding: 24rem 24rem;
  border-radius: 40rem;
  width: 400rem;
}
.O_TestBlock.small2 {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  background-color: var(--main-green-color);
  background-image: url(img/M_PreTestCards2.svg);
  background-size: contain;
  background-position: 50%;
  justify-content: flex-end;
  padding: 24rem 24rem;
  border-radius: 40rem;
  width: 400rem;
}
.O_TestBlock.big {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  background-image: url(img/M_PreTestCards.svg);
  background-position: 50%;
    background-size: contain;
  justify-content: flex-end;
  padding: 24rem 24rem;
  border-radius: 40rem;
  width: 820rem;
  height: 550rem;
}






/* для рецептов */
.O_InfoRecipesBlock {
  flex: 1;
  max-width: 1042rem;
  padding-top: 10rem;
}

.O_CookingBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100rem;
}


/* main */
.S_HeaderMainScreen {
  background-color: var(--main-green-color);
  background-image: url(img/BgMainImage.svg);
  background-repeat: no-repeat;
  background-position: 100% 80%;
  background-size: 60%;
}
.S_HeaderTestsScreen {
  background-color: var(--main-pink-color);
  background-image: url(img/BgTestsImage.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 60%;
  margin-bottom: 100rem;
  
}
.S_HeaderRecepiesScreen {
  background-color: var(--main-light-green-color);
  background-image: url(img/BgRecipesImage.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 80%;
}
.S_HeaderArticlesScreen {
  background-color: var(--main-purple-color);
  background-image: url(img/BgArticlesImage.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 50%;
}

.S_MainScreen {
  padding: 130rem;
  display: flex;
  flex-direction: column;
  gap: 44rem;
}
.S_AboutMainScreen {
  display: flex;
  flex-direction: column;
  background: var(--secondary-green-color);
  padding: 130rem;
  gap: 120rem;
}

.S_RecipesMainScreen,
.S_ArticlesMainScreen,
.S_GuidesMainScreen,
.S_TestsMainScreen {
  padding: 0rem 130rem;
}
.S_RecipesMainScreen {
  margin-top: 130rem;
}
.O_TestBlock.main {
  margin: 0;
  background-color: var(--main-purple-color);
}
.S_FooterMain {
  width: 100%;
  padding: 90rem 130rem;
  background-color: var(--main-green-color);
}

.S_Footer {
  width: 100%;
  padding: 90rem 130rem;
}


.S_Footer a:hover {
  color: var(--main-black-color);
}

.S_Recipes {
  background-color: var(--secondary-light-green-color);
}

.S_Articles {
  background-color: var(--secondary-light-blue-color);
}

.S_TestsMainScreen {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  
}

.S_Tests {
  background-color: var(--secondary-light-pink-color);
}






/* для статей */
.S_HeaderArticleScreen1 {
  max-width: 1080rem;       
  margin-top: 100rem;           
}

.S_ArticleContent {
  max-width: 720rem;             
  margin-bottom: -50rem;
  padding: 20rem 20rem 20rem;    
}
.S_ArticleContent p{
  font-weight: 400;
}

/* для рецептов */
.S_HeaderRecipe {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50rem;
  max-width: 1200rem;
  margin-bottom: 50rem;
  margin-top: 85rem;  
}

.S_Ingredients2 {
  background-color: var(--main-green-color);
  border-radius: 30rem;
  padding: 45rem 55rem;
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  min-height: 320rem;
  margin-bottom: 100rem;
  margin-top: 64rem;
  max-width: 1380rem;
}

.S_Steps {
  margin-bottom: 50rem;
  max-width: 1380rem;
}



@media screen and (max-width: 600px) {
  html {
    font-size: calc(1vw / 3.93);
  }
  #indexWrapper {
    width: calc(100% - 32rem);
    margin-top: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 50rem;
  }

  .indexContainer {
    display: flex;
    flex-direction: column;
    gap: 62rem;
  }

  .indexContainerInfoTags {
    display: none;
  }

  .indexContainerInfo,
  .indexContainerBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
    width: 361rem;
  }
  .indexContainerBottom {
    height: 255rem;
  }

  .indexContainerInfoText h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 40rem;
    text-align: left;
    line-height: 44rem;
    margin-bottom: 8rem;
  }

  .indexContainerBottomText h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 32rem;
    text-align: left;
    line-height: 36rem;
    margin-bottom: 8rem;
  }
  .indexContainerInfoText h2,
  .indexContainerBottomText h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 16rem;
    text-align: left;
    line-height: 19.8rem;
  }

  #index form input {
    height: 40rem;
    border-radius: 30rem;
    background-color: #fefefe;
    border: solid 1rem #dadae2;
    padding: 0 20rem;
  }
  .my-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 361rem;
    gap: 10rem;
  }
  #my-form-button {
    height: 40rem;
    border-radius: 30rem;
    background-color: #f48e28;
    border: solid;
    color: #fefefe;
    cursor: pointer;
  }
  .indexContainer > div,
  .indexContainerBottom > div,
  .footer > div {
    width: 100%;
  }

  .indexContainerDescription {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 826rem;
    justify-content: left;
    gap: 20rem;
  }

  .indexContainerDescriptionText {
    font-weight: 400;
    font-style: normal;
    width: 361rem;
    font-size: 24rem;
    text-align: left;
    line-height: 29rem;
  }
  .indexContainerDescriptionCards {
    display: flex;
    flex-direction: column;
    width: 361rem;
    gap: 20rem;
  }
  .Card {
    display: flex;
    flex-direction: column;
    gap: 32rem;
    height: 236rem;
    width: 361rem;
    padding-left: 16rem;
    padding-bottom: 16rem;
    padding-top: 16rem;
  }
  .Card h1 {
    font-weight: 400;
    font-size: 56rem;
    line-height: 64rem;
  }
  .CardText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 108rem;
  }
  .CardText h3 {
    font-size: 14rem;
    line-height: 16rem;
  }
  .indexContainerAbout {
    justify-content: left;
    height: 1480rem;
  }
  .indexContainerAboutCards {
    flex-direction: column;
  }
  .Card.first {
    display: flex;
    flex-direction: column;
    gap: 45rem;
    height: 350rem;
    width: 361rem;
    justify-content: center;
    padding-left: 16rem;
    border-radius: 30rem;
    padding-bottom: 16rem;
  }
  .CardText.first {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16rem;
    height: 172rem;
  }
  .CardWrapper {
    display: flex;
    flex-direction: column;
    width: 361rem;
    gap: 20rem;
  }
  .CardText.first h2 {
    font-size: 40rem;
    line-height: 46rem;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 361rem;
    align-items: center;
  }
  .headertg {
    width: 32rem;
    margin-left: 0rem;
  }
  .headerlogo {
    width: 109rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    width: 361rem;
    justify-content: space-between;
    margin-bottom: 50rem;
    gap: 50rem;
  }
  .footer p {
    text-align: left;
    font-weight: 400;
    font-style: normal;
    font-size: 14rem;
    line-height: 20rem;
  }
  .footer h1 {
    text-align: left;
    font-weight: 500;
    font-style: normal;
    font-size: 22rem;
    line-height: 28.8rem;
    color: #f48e28;
  }
  .footercolumn {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  .telegramfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
  }
  .footertg {
    width: 24rem;
  }

  .M_RecipesCards {
    width: 47%;
  }
  .M_RecipesCards.big {
    background-position: 100% 110%;
    background-size: 80%;
    width: 100%;
  }

  .M_RecipesCards:nth-of-type(n + 1):nth-of-type(-n + 8),
  .M_RecipesCards:nth-of-type(10) {
    order: 1;
  }
  .M_RecipesCards:nth-of-type(9) {
    order: 2;
  }
  .M_RecipesCards:nth-of-type(n + 11):nth-of-type(-n + 14) {
    order: 3;
  }
  .M_RecipesCards:nth-of-type(16) {
    order: 4;
  }
  .M_RecipesCards:nth-of-type(15) {
    order: 3;
  }
  .M_RecipesCards:nth-of-type(17),
  .M_RecipesCards:nth-of-type(18),
  .M_RecipesCards:nth-of-type(20) {
    order: 5;
  }
  .M_RecipesCards:nth-of-type(19) {
    order: 6;
  }

  #burger {
    width: 40rem;
    height: 40rem;
    margin-right: 10rem;
    margin-left: 320rem;
    cursor: pointer;
    position: fixed;
    z-index: 1000;
    background-color: var(--main-orange-color);
    border-radius: 100rem;
  }
  #burger::before,
  #burger::after {
    content: '';
    position: absolute;
    margin-top: 18rem;
    left: 12rem;
    width: 16rem;
    height: 2rem;
    background-color: white;
    border-radius: 10rem;
    transition: transform ease 0.8s;
  }
  #burger::after {
    margin-top: 14rem;
  }
  #burger::before {
    box-shadow: 0 4rem white;
  }
  #burger.active::before {
    box-shadow: 0 0rem white;
    margin-top: 20rem;
    transform: rotate(45deg);
  }
  #burger.active::after {
    margin-top: 20rem;
    transform: rotate(-45deg);
  }
  .O_Header {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--main-green-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem;
    gap: 50rem;
    padding-left: 20rem;
    transform: translateX(-100%);
  }

  .M_MenuList {
    display: flex;
    flex-direction: column;
    gap: 20rem;
    align-items: flex-start;
  }

  .M_Logo {
    margin-top: 10rem;
    height: 45rem;
  }
  .Q_NavigationTelegram {
    display: none;
  }
  #burger.active + .O_Header {
    transform: translateX(0);
  }

  /* для рецепта */

  .S_HeaderRecipe {
    flex-direction: column;
    order: 0;
    align-items: center;
    gap: 20rem;
    margin-top: 304rem;
  }

  .A_RecepieImgMain {
    width: 280rem;
    height: 280rem;
    order: 1;
    margin-top: -100rem;
    border-radius: 20rem;
    box-shadow: none;
  }
  .A_TitleHeroRecipe {
    margin-bottom: -30rem;
  }

  .O_InfoRecipesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .S_HeaderRecipe .A_TitleHeroRecipe {
    font-size: 32rem;
    text-align: left;
    margin-left: 20rem;
    margin-top: -320rem;
  }

  .back-button__label {
    display: none;
  }


  .M_InfoRecipes {
    margin-left: 20rem;
    margin-right: 10rem;
    margin-bottom: 20rem;
    flex-wrap: nowrap;         
    justify-content: flex-start;
  }


  .M_Calories:has(.A_TitleSectionRecipe1) {
   display: none;
  }

 
  .A_TagRecipes {
    font-size: 15rem;
    padding: 10rem 24rem;
  }



  .S_Ingredients2 {
    flex-direction: column;
    padding: 30rem 25rem;
    min-height: auto;
    margin-bottom: 30rem;
    margin-top: -20rem;
  }

  .A_SubtitleIngredients, .A_SubtitleRecipe {
    font-size: 20rem;
  }

  
  .A_IngredientsImg {
    display: none;
  }

  .O_CookingBlock {
    flex-direction: column;
    gap: 20rem;
  }
  .A_TitleSectionRecipe {
    font-size: 20rem;
    font-weight: 600;
    justify-content: left;
    text-align: left;
  }

  .A_SubtitleRecipeInfo {
    font-size: 14rem;
    text-align: left;
  }

  .A_StepsImg {
    width: 100%;
    height: 220rem;
  }

  .M_CookingBlock {
    padding-top: 0;
  }

  .M_Calories{
    justify-content: left;
    flex: 1;             
    min-width: 0;   
  }

  .S_Steps {
    margin-bottom: 30rem;
  }

  .back-button {
    margin: 20rem 24rem;
  }

  /* для страницы статьи */
  .back-button {
    position: static;
    top: auto;
    left: auto;
    margin: 20rem 0 20rem 15rem;
    align-self: flex-start;
  }

  .S_HeaderArticleScreen1 {
    padding: 0 20rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .S_ArticleContent {           
    margin-bottom: -110rem;
  }


  .C_TitleArticle1 {
    padding: 32rem 28rem 40rem;
    border-radius: 24rem;
  }

  .A_TitleHero {
    font-size: 40rem;
  }

  .A_TitleHeroArticle{
    font-size: 42rem;
  }


  .A_SubtitleArticle {
    font-size: 15rem;
  }

  .S_ArticleContent {
    padding: 32rem 24rem 60rem;
    max-width: 100%;
  }
  .A_SubtitleArticle + .A_SubtitleArticle {
  margin-top: 20rem;
  }


  .A_TitleSection {
    font-size: 24rem;
  }

  .A_ContentText {
    font-size: 15rem;
  }

  .A_ArticleImg {
    margin: 24rem 0;
    max-height: none;
    border-radius: 12rem;
  }

  .C_UsefulBlock1 {
    height: 250rem;
    padding: 0rem 20rem;
    margin: 24rem 0;
    border-radius: 12rem;
  }
  .S_RecipesMainScreen,
  .S_ArticlesMainScreen,
  .S_GuidesMainScreen,
  .S_TestsMainScreen {
    padding: 0rem 20rem;
  }
  .M_RecipesCards {
    height: 242rem;
  }
  h4 {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16rem;
    line-height: 120%;
  }
  .S_MainScreen {
    padding: 300rem 20rem 40rem 20rem;
    gap: 24rem;
  }
  .button_hero {
    width: 100%;
    padding: 10rem 16rem;
  }
  .S_HeaderMainScreen {
    background-color: var(--main-green-color);
    background-image: url(img/Main.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: 120%;
  }

  .S_HeaderArticlesScreen {
    background-image: url(img/Articles.svg);
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: 100%;
  }

  .S_AboutMainScreen {
    padding: 40rem 20rem;
  }
  .A_TitleSection_About {
    display: none;
  }
  .C_AboutCards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 8rem;
    grid-auto-rows: 145rem;
  }
  .O_AboutCardWide {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--main-pink-color);
    background-image: url("img/Group%2095.svg");
    background-size: cover;
    background-position: 12% 0%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: 50%;
    border-radius: 40rem;
    width: 100%;
  }

  .O_AboutCardSmall {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40rem;
    padding: 24rem;
  }
  .card-purple {
    grid-area: 3 / 1 / 4 / 2;
  }
  .W_Text_CardSmall {
    align-items: flex-start;
    margin-left: 8rem;
  }
  .A_Subtitle__CardSmall {
    text-align: left;
  }
  .card-green {
    grid-area: 4 / 1 / 5 / 2;
  }
  .O_AboutCardSmall img {
    width: 100rem;
    height: 80rem;
  }
  .card-orange {
    grid-area: 5 / 1 / 6 / 2;
  }

  .A_TitleSection_CardWide {
    margin: 80rem 0 0 24rem;
    line-height: 100%;
    width: 314rem;
  }
  h3 {
    font-size: 32rem;
  }
  .A_Subtitle__CardWide {
    margin-left: 24rem;
    width: 314rem;
  }

  p {
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 16rem;
    line-height: 120%;
    color: var(--text-main-color);
  }
  .S_RecipesMainScreen {
    margin-top: 40rem;
  }
  .A_Button_Primary {
    display: none;
  }
  .A_Button_Primary.button_hero,
  .A_Button_Primary.footer {
    display: inline-block;
    width: 100%;
    padding: 10rem 16rem;
  }
  .M_TitleLink {
    margin-bottom: 20rem;
  }
  .O_RecipesCardsM {
    margin-top: 20rem;
  }
  .O_TestBlock {
    margin: 20rem;
    display: flex;
    justify-content: space-between;
    padding: 24rem;
    border-radius: 40rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .O_TestBlock img,
  .O_ContactBlock img {
    width: 300rem;
  }
  .W_Text_Test {
    gap: 8rem;
  }
  .O_ContactBlock {
    margin-top: 40rem;
    display: flex;
    justify-content: space-between;
    padding: 40rem 20rem;
    flex-direction: column;
  }
  .A_Fruits_MainScreen_PatternTomato {
    display: none;
  }
  .A_Form_Input {
    display: flex;
    gap: 12rem;
    flex-direction: column;
    align-items: flex-start;
  }
  input {
    width: 100%;
    height: auto;
    background-color: #fefefe;
    border: 1rem solid #dadae2;
    border-radius: 100rem;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14rem;
    line-height: 100%;
    color: #000;
    padding: 9.5rem 16rem;
    display: flex;
    align-items: center;
  }
  .S_FooterMain {
    padding: 0rem 20rem;
  }
  .menu.footer {
    display: none;
  }
  .O_Footer {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-bottom: 50rem;
  }
  .M_ArticleCard {
    height: 273rem;
  }
  .M_ArticleCard img {
    height: 273rem;
  }
  .S_HeaderRecepiesScreen {
    background-color: var(--main-light-green-color);
    background-image: url(img/Recipes.svg);
    background-repeat: no-repeat;
    background-position: 50% -100%;
    background-size: 100%;
  }

  .A_NavigationLogo.mobile {
    display: flex;
    z-index: 2;
  }
  header {
    margin-top: 20rem;
    padding-left: 20rem;
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    align-items: center;
  }
  .M_ArticleCard {
    background-size: 180%;
  }
  .A_TagRecipes {
    font-size: 8rem;
    padding: 4rem 12rem;
  }
  .input-wrapper input {
    padding-left: 35px;
    height: 40px;
    width: 354rem;
  }
  .O_RecipesBlock {
    display: flex;
    padding: 40rem 20rem 40rem 20rem;
    flex-direction: column;
  }
  .W_TagsSearchWrap {
    display: flex;
    flex-direction: column;
  }
  .W_TagTitleWrap {
    display: flex;
    gap: 20rem;
    flex-direction: column;
  }
  
}



